body{
  padding:0;
  margin:0;
}
.container{
  display: flex;
  justify-content:center;
  align-items:center;
  height: 98vh;
  #title{
    font-size: 45px;
    font-family:"Source code pro", Verdana, sans-serif;
    //margin-top: 10px;
  }
  #description{
    font-size: 20px;
    margin: 20px;
    font-family:"Source code pro", Verdana, sans-serif;
  }
  .map{
    margin-top: 60px;
    //background-color: orange;
    text-align: center;
  }
}

.node{
  font-size:12px;
  pointer-events: none;
  //text-anchor:middle;

}
.tile,.legend-item{
  opacity: 1;
  //pointer-events: none; 
}
div.tooltip{
  position: absolute;
  padding: 10px;                
  font: 12px Arial;        
  background: rgba(255, 255, 204, 0.95);
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border: 0px;        
  border-radius: 2px;            
  pointer-events: none; 
}